
<h1 class="container" style="color:rgb(204, 50, 199)">Hey 'The Office' friend, please log in!!!</h1>

<div class="container">
    <h2>As of March 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> 
    Please sign and share this to let them know the fans don’t want that!</h2>
</div>


{{> youtube}}


<h2 class="container" style="color:darkorchid">{{warning}}</h2>


<div class="container">
<img src="https://i.gifer.com/origin/9e/9e033c88b4e3b2b2b004dcb7620da8d9.gif" width=500 height=300></img>
</div>


<div class="formPart">
<form method='POST' >
            <div class="container">
            <input type='text' name='email' placeholder='Email Address' autocomplete='off'>
            <input type='text' name='password' placeholder='Password' autocomplete='off'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            </div>
            <div>
            <button class="regButton" type='submit' name="accept">LOG IN</button>
            </div>
        
</form>
</div>