<h2>Please log in...</h2>


<div class="box">
<img src="prison-mike.jpg" alt="office photo" width="600" height="400">
</div>

<form method='POST' >
            
            <input type='text' name='email' placeholder='Email Address' autocomplete='off'>
            <input type='text' name='password' placeholder='Password' autocomplete='off'>
            <button class="click" type='submit' name="accept">SIGN UP</button>
        
</form>