<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Project Petition</title>
</head>

<body>

<h1>Sign our petition to ....</h1>
<input type="text" placeholder="enter your first name"/>
<p>First Name</p>

<input type="text" placeholder="enter your last name"/>
<p>Last Name</p>

<button>SUBMIT</button>

</body>
</html>
