<h1>Sign our petition to ....</h1>


       <form method='POST' >
            <input type='text' name='first' placeholder='First Name' autocomplete='off'>
            <input type='text' name='last' placeholder='Last Name' autocomplete='off'>
            <input type='text' name='signature' placeholder='signature' style="width: 40%;" autocomplete='off'>
            
            <div>
                <input type="submit" name="accept">
            </div>
            
        </form>