
<div class="container">
    <h2>As of January 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> 
    Please sign and share this to let them know the fans don’t want that!</h2>
</div>

<h2 class="container" style="color:darkorchid">{{warning}}</h2>

{{> youtube}}

<div class="box">
   <img src="diversity-day.png" class="box" alt="office photo" width="600" height="400">
</div>

<div class="formPart">
    <form method='POST' >
        <div class="inputPart">
            <input type='text' name='firstname' placeholder='First Name' autocomplete='off'>
            <input type='text' name='lastname' placeholder='Last Name' autocomplete='off'>
            <input type='hidden' value="dataURL" name='signature' placeholder='signature' autocomplete='off'>
        </div>  
        <div>
            <canvas id="myCanvas" width="400" height="200" style="border: 1px solid black"></canvas>
        </div>
        <div>
            <input class="click" type="submit" name="accept">
        </div>
            
    </form>
</div>






  

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="script.js"></script>