
<h1 class="container" style="color:rgb(204, 50, 199)"> Please sign and share this to let them know the fans don’t want that!</h1>

<div class="container">
    <h2>As of March 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!</h2>
</div>

<h2 class="container" style="color:darkorchid">{{warning}}</h2>

{{> youtube}}

<div class="container">
<img src="https://i.gifer.com/origin/b5/b59d3cf98a25301c5ef4b7b713e1028a.gif" width=500 height=300 ></img>
</div>



<div class="formPart">
    <form method='POST' >
            <input id="hidden" type='hidden' name='signature' placeholder='signature' autocomplete='off'>
            <canvas id="myCanvas" width="400" height="150" style="border: 1px solid black"></canvas>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div>
           <button class="regButton" type='submit' name="accept">SUBMIT</button>
           </div>
    </form>
</div>

