

<h1 class="container" style="color:rgb(204, 50, 199)">We want to know you better! It is totally optional and if you want to see how do we protect your personal data, visit our privacy policy! </h1>

<div class="container">
    <h2>As of March 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> 
    Please sign and share this to let them know the fans don’t want that!</h2>
</div>




{{> youtube}}


<div class="container">
<img src="https://i.gifer.com/origin/df/df78ff04b08dc4ad652c81a8935fed27.gif" width=480 height=270.880 ></img>
</div>



<div class="formPart">
<form method='POST' >
            <input type='text' name='age' placeholder='Age' autocomplete='off'>
            <input type='text' name='city' placeholder='City' autocomplete='off'>
            <input type='text' name='homepage' placeholder='Homepage' autocomplete='off'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div>
            <button class="click" type='submit' name="accept">CONTINUE</button>
            </div>
        
    </form>
    </div>