<div class="container">
    <h2 style="color:rgb(204, 50, 199)" >As of March 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> 
    Please sign and share this to let them know the fans don’t want that!</h2>
</div>

{{> youtube}}

<h2 class="container" style="color:darkorchid">{{warning}}</h2>

<div class="container">
<img src="https://i.gifer.com/origin/e9/e9abf2a020fa6a2c0e04706b5f75907a.gif" width=500 height=300 ></img>
</div>

<div class="formPart">
<form method='POST' >
            <input type='text' name='first' placeholder='First Name' autocomplete='off'>
            <input type='text' name='last' placeholder='Last Name' autocomplete='off'>
            <input type='text' name='email' placeholder='Email Address' autocomplete='off'>
            <input type='text' name='password' placeholder='Password' autocomplete='off'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div>
            <button class="regButton" type='submit' name="accept">SIGN UP</button>
            </div>
        
    </form>
</div>

