<h1 class="container" style="color:rgb(204, 50, 199)">Check out our signers!!!</h1>

<div class="container">
    <h2>As of January 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> </h2>
</div>


{{> youtube}}



<div class="container">
<iframe src="https://gifer.com/embed/4w1v" width=600 height=400 frameBorder="0" allowFullScreen></iframe>
</div>

{{#signersData}}
<div class="box">{{first}} {{last}} </div>
{{/signersData}}
