
<h1 class="container" style="color:rgb(204, 50, 199)">Thank you for signing our petition to let know NBC and NETFLIX !!!</h1>

<div class="container">
    <h2>As of January 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> </h2>
</div>


<div class="container">
{{#signs}}
<img id="urlimg" src="{{signature}}" alt="user's signature" width="500px">
{{/signs}}
</div>

{{#signersNum}}
<h3 class="container"><a href="/signers" class="thanksNum">See all {{count}} The Office lovers & signers !!!</a></h3>
{{/signersNum}}

{{> youtube}}

{{!-- 
<div class="box">
<img src="prison-mike.jpg" alt="office photo" width="400" height="300">
</div> --}}

<div class="container">
<iframe  src="https://gifer.com/embed/3b4" width=600 height=350 frameBorder="0" allowFullScreen></iframe>
</div>



