
<h1 class="container" style="color:rgb(204, 50, 199)">Thank you for signing our petition to let know NBC and NETFLIX !!!</h1>

<div class="container">
    <h2>As of January 2021 NBC will not longer allow The Office to be streamed on Netflix but rather only on their own streaming platform!<br> </h2>
</div>


<div class="container">
{{#signs}}
<img id="urlimg" src="{{signature}}" alt="user's signature" width="500px">
{{/signs}}
</div>

{{#signersNum}}
<h2 class="container" ><a href="/signers" class="thanksNum" style="color:rgb(204, 50, 199)">See all {{count}} The Office lovers & signers !!!</a></h2>
{{/signersNum}}


<div class="container">
<img src="https://i.gifer.com/origin/52/5216ae716f642a266b5654760a847319.gif" width=480 height=270.880 ></img>
</div>




