body {
    background-color: darkslateblue;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.formPart {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.inputPart {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.click {
    position: relative;
    left: 45%;
}

canvas {
    background-color: white;
}

.thanksNum {
    color: white;
}
