body {
    background-color: darkslateblue;
    color: white;
    /* box-sizing: border-box; */
}

#button {
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
}

.formPart {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

.inputPart {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.click {
    position: relative;
    left: 47%;
}

canvas {
    background-color: rgb(208, 198, 198);
}

.thanksNum {
    color: white;
}

#urlimg {
    width: 300px;
    height: 100px;
}
