body {
    background-image: url("office.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;

    /* box-sizing: border-box; */
}

input {
    font-size: 15px;
    height: 40px;
    width: 200px;
    color: darkslategrey;
    margin: 10px 10px;
    border-width: 2px;
    border-color: darkslategrey;
}

input:focus {
    outline-color: rgb(204, 50, 199);
}

button {
    position: absolute;
    left: 45%;
    height: 40px;
    width: 120px;
    background-color: darkslategrey;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 10px;
}

.box {
    font-size: 20px;
    font-weight: bold;
    color: darkslategrey;
    display: flex;
    justify-content: center;
}

.formPart {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 30px;
}

.inputPart {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

/* .click {
    position: relative;
    left: 160px;
} */

canvas {
    background-color: white;
}

.thanksNum {
    color: white;
}

#urlimg {
    width: 300px;
    height: 100px;
}
